.dashboard{
    & .dashboard-nav{
        background-color: $metal;
        color: $white;
        border: thin solid $metal;
        border-radius: 0;
        & h3{
            color: $white;
            font-family: $sourcesans-bold;
            padding: 20px 0;
        }
    }
    & .dashboard-nav, .dashboard-item-head{
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-around;
        & .dashboard-nav-item, .dashboard-label{
            flex: 1 1 auto;
            width: 12.5%;
            text-align: center;
            /*vertical-align: middle;*/
        }
    }
    & .dashboard-body{
        min-height: 500px;
    }

    & .dashboard-item{
        padding: 10px 0;
        margin-top: 10px;
        height: 60px;
        overflow: hidden;
        background-color: $white;
        transition: background-color 0.4s;
        border-radius: 4px;
        &:focus{
            outline: none;
        }
        &:hover{
            background-color: $light-grey;
        }
    }
    & .dashboard-item-head{
        font-size: 14px;
        & i{
            margin-right: 20px;
            color: $metal;
        }
        & h4{
            font-size: 16px;
            font-family: $sourcesans-bold;
            /*text-transform: capitalize;*/
            color: $metal;
        }
        & .box-container{
            padding: 5px;
        }
        & .box{
            border: 2px solid lighten($black, 60%);
            width: 40px;
            height: 20px;
            display: block;
            margin: auto;
            border-radius: 4px;
            & .progress-indicator{
                /*width: 20%;*/
                height: 100%;
                margin: 0;
                padding: 0;
                display: block;
                /*border-radius: 2px;*/
                /*background-color: $black;*/
            }
        }
    }
    & .dashboard-item-body{
        padding: 10px;
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-around;
        & .panel{
            width: 200px;
            height: 200px;
            display: block;
            overflow: hidden;
            box-shadow: 0px 0px 4px lighten($black, 80%);
            margin: 10px;
            border-radius: 0px;
            & .panel-heading{
                & h4{
                    margin: 0;
                    padding: 0;
                    font-family: $sourcesans-bold;
                    color: $white;
                }
            }
            & .panel-body{
                display: flex;
                flex-flow: nowrap row;
                /*background-color: $green;*/
                & .panel-body-inner{
                    flex: 1 1 0;
                    text-align: center;
                    & i{
                        display: block;
                        color: $white;
                    }
                    & p{
                        display: block;
                        color: $white;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            & .panel-footer{
                display: flex;
                flex-flow: nowrap row;
                & .panel-footer-inner{
                    flex: 1 1 0;
                    text-align: center;
                    & i{
                        display: block;
                        /*color: $green;*/
                    }
                    & p{
                        display: block;
                        /*color: $green;*/
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            & i.bold, p.bold{
                font-family: $sourcesans-bold;
            }
        }
        & .panel.no-border{
            border: none;
            box-shadow: none;
            background-color: none;
            & .panel-heading{
                background-color: transparent;
                & p.title{
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    color: $metal;
                    font-family: $sourcesans-bold;
                    display: block;
                    margin-bottom: 10px;
                }
                & h4{
                    font-size: 25px;
                    font-family: $sourcesans-bold;
                    color: $metal;
                    display: bold;
                    text-align: center;
                    text-transform: capitalize;
                }
            }
            & .panel-body{
                background-color: transparent;
            }
        }
    }
}


