// Colors
$white      :   #ffffff;
$black      :   #000000;
$green      :   #548039;
$blue       :   #2b77f2;
$grey       :   #cccccc;
$red        :   #BE0712;
$metal      :   #6F7E95;
$light-grey :   #eef1f8;
$orange     :   #EB7D3B;




// Fonts
$sourcesans         :   'source_sans_proregular';
$sourcesans-bold    :   'source_sans_probold';
$sourcesans-light   :   'source_sans_prolight';