// Colors
$white: #ffffff;
$black: #000000;
$green: #548039;
$blue:  #2b77f2;




// Fonts
$sourcesans:        'source_sans_proregular';
$sourcesans-bold:   'source_sans_probold';
$sourcesans-light:  'source_sans_prolight';