<div class="panel metrics-panel" ng-class="dbmp.state">
    <div class="panel-heading">
        <h4>Metrics</h4>
    </div>
    <div class="panel-body">
        <div class="panel-body-inner">
            <p class="bold">{{ ::dbmp.test }}</p>
            <i class="fa fa-arrow-up fa-2x"></i>
            <p class="bold">Test</p>
        </div>
        <div class="panel-body-inner">
            <p class="bold">{{ ::dbmp.maintainability }}</p>
            <i class="fa fa-arrow-up fa-2x"></i>
            <p class="bold">Maintainability</p>
        </div>
    </div>
    <div class="panel-footer">
        <div class="panel-footer-inner">
            <p class="bold">{{ ::dbmp.security }}</p>
            <i class="fa fa-arrow-right fa-2x"></i>
            <p class="bold">Security</p>
        </div>
        <div class="panel-footer-inner">
            <p class="bold">{{ ::dbmp.security }}</p>
            <i class="fa fa-arrow-right fa-2x"></i>
            <p class="bold">Workmanship</p>
        </div>
    </div>
</div>