<div class="panel build-panel" ng-class="dbbp.state">
    <div class="panel-heading">
        <h4>Build</h4>
    </div>
    <div class="panel-body">
        <div class="panel-body-inner">
            <img src="assets/images/pc-computer-with-monitor.svg">
            <p class="bold">Debug</p>
        </div>
        <div class="panel-body-inner">
            <img src="assets/images/pc-computer-with-monitor.svg">
            <p class="bold">Release</p>
        </div>
    </div>
    <div class="panel-footer">
        <div class="panel-footer-inner">
            <p class="bold">{{ ::dbbp.date }}</p>
        </div>
        <div class="panel-footer-inner">
            <p class="bold">{{ ::dbbp.time }}</p>
        </div>
    </div>
</div>